.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-item {
    font-family:'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: grey;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-align: center;
    margin: 5%;
}

#logo_accueil {
    display: block;
    margin: auto;
}

.séparation {
    background-color: black;
    height: 1px;
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.présentation {
    background-color: lightgrey;
}

footer a {
    width: 100%;
}

