.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-item {
    font-family:'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 5%;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: white; 
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    color: white; 
}

.séparation {
    background-color: black;
    height: 1px;
    margin: 5%;
}

.fond {
    background-color: black;
}

footer { 
    background-color: black;
}

footer a {
    width: 100%;
}



